body {
  background-color: #f3efe0 !important;
  padding-top: 3rem;
  font-family: "Helvetica Neue" !important;
  font-size: 15px !important;
  line-height: 1.64 !important;
}

.background-white {
  background-color: white;
}

.profile-container > .col-md-4 > img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 1rem;
}

.logo {
  height: 35px;
}

.logo-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-container {
  display: flex;
  justify-content: center;
  background-color: rgb(150, 199, 199);
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  margin: 1rem;
}

h1,
h2,
h3,
h4 {
  color: rgb(15, 120, 120);
  font-weight: bold !important;
}

h3 {
  padding-bottom: 1rem;
}

h5,
h6 {
  font-weight: bold !important;
}

.color-green {
  color: rgb(15, 120, 120);
}

.color-darker-green {
  color: rgb(7, 56, 56);
}

.intro {
  text-align: center;
}

.comp-container {
  max-width: 1150px;
  padding: 0 12rem 2rem 12rem;
  margin: auto;
}

hr {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

ul {
  list-style-type: none;
}

@media (max-width: 767px) {
  .hidden-md {
    display: none;
  }
  .comp-container {
    padding: 2rem;
  }
  .skill-list {
    margin-bottom: 0;
  }
  #profile {
    text-align: center;
  }
  .profile-container > .col-md-4 > img {
    margin-bottom: 1rem;
  }
  #projects a figure {
    align-items: flex-start;
  }
}

.skill-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.skill-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill-list > li:hover {
  background-color: #f2f2f2;
}

.skill-list > li:hover > span > svg {
  transition: all 0.3s;
  margin-right: 0.2rem;
}

#skills:before,
#profile:before,
#experiences:before,
#projects:before {
  content: "";
  display: block;
  height: 60px;
  margin: -30px 0 0;
}

#projects a figure img {
  max-width: 100%;
  height: auto;
  width: 100% !important;
}

#projects a figure figcaption {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: 0.35s;
}

#projects a figure figcaption h5 {
  color: white;
}

#projects a figure figcaption hr {
  transform: translateX(100%);
  color: white;
}

#projects a figure figcaption p {
  transform: translateX(-100%);
  color: white;
}

#projects a figure {
  display: flex;
  position: relative;
  overflow: hidden;
}

#projects a figure:hover figcaption {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 1vh;
  padding-left: 3vh;
  width: 100%;
  height: 100%;
}

#projects a figure figcaption hr {
  width: 70%;
  border: 1px solid white;
  margin: 0 !important;
}

#projects a figure:hover figcaption {
  opacity: 0.9;
  background-color: rgb(15, 120, 120);
}

#projects a figure:hover figcaption h5,
#projects a figure:hover figcaption hr,
#projects a figure:hover figcaption p {
  transform: translateX(0);
  transition: 0.35s;
}

a {
  text-decoration: none;
}

.landing {
  /* background: no-repeat center fixed
    url("https://mtoscano91.github.io/personal-website/Landing2.jpeg"); */
  margin-bottom: 0px !important;
  padding: 0px;
  object-fit: cover;
}

.landing .container {
  position: relative;
  top: 28%;
  z-index: 1;
  text-align: center;
  max-width: 100%;
}

.landing .container .lead {
  font-size: 50px;
  font-weight: 600;
}

.landing .container h1 {
  padding-bottom: 0px;
  display: inline-block;
  font-size: 4.5rem;
}

.landing .container > * {
  text-align: center;
  color: white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}
